.gallery ul {
	list-style: none;
}

.picView>button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: blue;
	outline: none;
}

.picView button:hover {
	cursor: pointer;
}

.picPreview img {
	width: 120px;
	height: 80px;
	z-index: 9999;
}

.picPreview img:hover {
	box-shadow: 0 0 15px rgba(255,100,255,.5);
}

.originalPic {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	cursor: move;
	max-width: 600px;
	max-height: 600px;
	display: none;
	position: absolute;
	z-index: 9998;
}

.imgToolBar {
	position: fixed;
	padding: 0;
	margin: 0;
	display: none;
	z-index: 9998;
	list-style: none;
}

.imgToolBar ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin-top: 10px;
}

.imgToolBar * {
	margin: auto;
}

.imgToolBar li {
	float: left;
	padding: 0 .5rem;
}

.imgToolBar li:hover{
	cursor: pointer;
}

.imgToolBar img{
	display: inline-block;
}

.btnBox {
	display: flex;
	justify-content: space-around;
}

.btnBox button {
	background-color: transparent;
	border: none;
	color: #888;
	outline: none;
}

.btnBox svg:hover{
	color: #000;
}

.mask {
	background-color: rgba(0,0,0,.1);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: 0.5s;
	z-index: 9997;
}

.zone {
	background-color: rgba(0,0,0,.3);
	border: 1px solid white;
	box-shadow: 0 0 10px rgba(255,100,255,.5);
	display: none;
	position: fixed;
	width: 150px;
	height: 100px;
	z-index: 9999;
}

.enlarge {
	display: none;
	position: fixed;
	border: 1px solid #666;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

.enlarge img {
	display: block;
	position: absolute;
	margin-left: -100px;
	margin-top: -100px;
	top: 0;
	left: 0;
}